

	/*Main styles--------------------------------------*/

	*{
		box-sizing: border-box;
		margin:0;
		padding:0;
	}

	body {
		font-family: 'Roboto', sans-serif;
	}

 h2.title{
	 text-align: center;
	 padding: 50px 0;
	 color: rgb(15,131,255);
 }

 /*styles for navbar -------------------------------*/

 .horizontal-collapse {
   height: 70px;

 }
 .navbar-collapse.in {
   overflow-y: hidden;
   background-color: rgba(15,131,255,0.3);
 }

  nav.navbar{
    margin:0;
    border: 0;
  }

	nav > .navbar-header {
		background-color: rgba(37, 72, 142,1);

	}

	nav > .navbar-header > .navbar-brand {
    color:  rgb(255, 255, 255) !important;
	}

	nav > .navbar-header > .navbar-brand:hover{
    color:  rgb(233, 233, 233) ;
	}

  nav > .navbar-header > .navbar-toggle.navbar-btn{
    background-color: rgb(240,240,240);
    border: none;
  }

  nav > .navbar-header > .navbar-toggle.navbar-btn > span{
    background-color:   rgba(15,131,255,1);
  }
  nav > .navbar-header > .navbar-toggle.navbar-btn:hover,
  nav > .navbar-header > .navbar-toggle.navbar-btn:active{
    background-color: rgb(220,220,220);
  }

  nav > .navbar-header > .navbar-toggle.navbar-btn{
    border: none;
  }

  nav.navbar > .navbar-collapse > .nav.navbar-nav >li > a{
    color:  rgb(255, 255, 255) ;
    text-transform: uppercase;
  }

  nav.navbar > .navbar-collapse > .nav.navbar-nav >li > a:hover{
    color:  rgb(255, 255, 255) ;
    background-color: rgba(15,131,255,0.3);
  }

	/* styles for section.header------------------------------------*/

	section.header {
		background: linear-gradient(45deg, rgba(15,131,255,0.95) 15%,rgba(15,131,255,0.85) 15%,rgba(15,131,255,0.85) 35%,rgba(15,131,255,0.8) 35%,rgba(15,131,255,0.95) 65%,rgba(15,131,255,1) 65%)
	}

	section.header > .container > .row:nth-child(1) > .col-md-12 {
		margin: 110px 0 70px 0;
		text-align: center;
	}
	section.header > .container > .row:nth-child(1) > .col-md-12 > img {
		border-radius: 50%;
		height: 150px;
		width: 150px;
		background: #fff;
		margin: auto;
		-webkit-box-shadow: 0px 0px 29px 0px rgba(255,255,255,1);
		-moz-box-shadow: 0px 0px 29px 0px rgba(255,255,255,1);
		box-shadow: 0px 0px 29px 0px rgba(255,255,255,1);
	}

	section.header > .container > .row:nth-child(2) > .col-md-12 {
		color: #fff;
		text-align: center;
		font-size: 30px;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 40px;
		/*padding-left: 150px;
		padding-right: 150px;*/
	}

	section.header > .container > .row:nth-child(3) > .col-md-12 {
		color: #fff;
		text-align: center;
		font-size: 15px;
		/*padding-left: 150px;
		padding-right: 150px;*/
		margin-top: 20px;
		margin-bottom: 40px;
	}

	section.header > .container > .row:nth-child(4) > .col-md-12 {
		text-align: center;
		margin-bottom: 70px;
	}
	section.header > .container > .row:nth-child(4) > .col-md-12 > button {
		border-radius: 30px;
		margin: auto;
		width:120px;
		color: rgb(15,131,255);

	}

	 /*styles for section.about-me ----------------------------*/

	section.about-me{
		background-color: #fff;
	}

	section.about-me > .container > .row:last-child > .col-md-12 {
		text-align: center;
		padding-bottom: 50px;
	}

	 /*styles for section.expert-in-----------------------------*/

	section.expert-in {
		background-color: rgba(15,131,255,0.1)
	}

	section.expert-in > .container > .row > .col-md-4 > img{
		display: block;
		margin: 0 auto 30px auto;
	}

	section.expert-in > .container > .row > .col-md-4 > h5{
		text-align: center;
		margin: 20px auto;
	}

	section.expert-in > .container > .row > .col-md-4 > p{
		text-align: center;
	}

	section.expert-in > .container > .row:last-child{
		padding-bottom: 40px;
	}

	 /*styles for section.latest-works ---------------------------*/

	section.latest-works {
		background-color: #fff;
	}

	/*section.latest-works > .container > .row > .col-md-4 >div{
	}*/

	.col-md-4 > .card {
		margin: 25px;
		height: 345px;
		width: 85%;
		background-color: rgb(230,230,230);
		position: relative;
}

	.col-md-4 > .card >.card-block {
		/*border: 1px solid blue !important;*/
		height: 100%;
}
	.col-md-4 > .card > .card-block > .thumbnail {
		width:100%;
		height: 100%;
}
	.col-md-4 > .card > .card-block > .thumbnail >  img{
		width:100%;
		height: auto;
}
	.col-md-4 > .card > .card-block > .thumbnail > .caption{
		margin-top: 10px;
		text-align: center;
		color: rgb(15,131,255);
		font-size: 18px;
		font-weight: bold;
}
	.col-md-4 > .card >.card-footer {
		height: 60px;
		width: 100%;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
}
	.col-md-4 > .card >.card-footer>small {
		margin-right: 10px;
}

	section.latest-works > .container > .row:last-child{
		padding-bottom: 40px;
	}






















	 /*styles for section.clients ----------------------------------*/

	section.clients {
		background-color: rgba(15,131,255,0.1)
	}
	section.clients > .container > .row {
		display: flex;
		align-items: center;
	}
	section.clients > .container > .row > .col-md-3 >img{
		padding: 10px;
	}
	section.clients > .container > .row:last-child{
		padding-bottom: 40px;
	}

	/*styles for section.footer ----------------------------------*/

	section.footer {
			background: linear-gradient(45deg, rgba(15,131,255,0.95) 15%,rgba(15,131,255,0.85) 15%,rgba(15,131,255,0.85) 35%,rgba(15,131,255,0.8) 35%,rgba(15,131,255,0.95) 65%,rgba(15,131,255,1) 65%);
			height: 100px;
			display: flex;
			align-items: center;
	}

	section.footer > .container  {
		padding: 0;
	}

	section.footer > .container > .row >.col-md-9{
		color: #fff;
		text-align: right;
		font-size: 4vw;
	}

	section.footer > .container > .row > .col-md-3 > button{
		border-radius: 30px;
		width: 110px;
		color: rgb(15,131,255);
	}
